<div class="row">
    <div class="col-md-12">
        {{#each department}}
        <h1>{{programName }} - Program Code: {{programCode}}</h1>
        <form method="POST" action="/program/update">
        <fieldset>
            <input type="hidden" name="programCode" value="{{data.programCode}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="program Name">Department Name:</label>
                        <input class="form-control" id="programName" name="programName" type="text" value="{{data.programCode}}" />
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form> {{/each}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>{{programName }} - Program Code: {{programCode}}</h2>
        <form method="post" action="/program/update">
        <fieldset>
            <input type="hidden" name="programCode" value="{{data.programCode}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="program Code">Program Code:</label>
                        <input class="form-control" id="programCode" name="programCode" type="text" value="{{data.programCode}}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="program Name">Program Name:</label>
                        <input class="form-control" id="programName" name="programName" type="text" value="{{data.programName}}">
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary pull-left" value="update Program">
        </form>
    </div>
</div>
